/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

*{
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
	width:100%;
	height: auto;
}

/* Header*/
header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	margin: 5% 0;
	padding: 0 2%;
	background-color: #F97D0A;
	color:#FFECC2;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
	font-size: 2rem;
	font-weight: 600;
	
}

nav{
	display:flex;
	flex-flow: column nowrap;
}
nav a{
	text-decoration: none;
	color: #FFECC2;
}
	/* About Us Bio */

h1 {
	font-size: 3rem;
	color: #A10C00;
	text-align: center;
	width:50%;
	margin:auto;
	padding-bottom:2%;
	margin-bottom: 2%;
	border-bottom: #F9AE0A dashed 0.2rem;
}
.bio {
	width: 90%;
	margin:5% auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color:#FFECC2;
	padding:5%;
}
.bio p {
	font-size: 1.5rem;
	color: #A10C00;
	padding: 2% 0;
	line-height: 1.5rem;
	
}

	/* Our Services */

h2 {
	font-size: 2rem;
	color: #A10C00;
	text-align: center;
	width:50%;
	margin:auto;
	padding-bottom:2%;
	margin-bottom: 2%;
	border-bottom: #F9AE0A dashed 0.2rem;
}
	/* Styles for each section */
h3 {
	color:#F97D0A;
	font-size: 1.8rem;
	text-align: center;
	margin: 1rem 0;
}

.service {
	background-color: #FFECC2;
	font-size: 1.5rem;
	color: #A10C00;
	text-align: center;
	width:90%;
	margin:5% auto;
	padding:5%; 
}
	/* Footer */
footer {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	margin: 5% 0;
	padding: 0 2%;
	background-color: #F97D0A;
	color:#FFECC2; 
	font-size:1rem;
}

@media only screen and (min-width: 800px) {
	header {
		flex-direction: column;
		justify-content: space-around;
	}
	nav {
		flex-flow: row nowrap;
		justify-content: space-around;
		width: 100%;
	}
	.bio {
		flex-direction: row;
		justify-content: space-between;
		padding: 2%;
	}
	.bio p {
		margin: 0 2%;
		padding: 2rem 0;
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1024px) {
	.service-style {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}
	.service{
		height: 30rem;
		background-color: #fff;
		}
}