/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

*{
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
	max-width:100%;
	height: auto;
}

/* Header*/
header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 5% 0;
	padding: 0 2%;
	border-bottom: #F97D0A 1rem solid;
	color:#FFECC2;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
	z-index: 1;
	width:10rem;
	height: auto;
	
}
/* Nav Bar */
.burger-menu .line {
	background-color: #F97D0A;
	width:3rem;
	height:0.3rem;
	margin: 0.2rem;
}

.burger-menu {
	cursor: pointer;
	
}

nav{
	display:none;
	flex-flow: column nowrap;
	background-color:#F97D0A;
	
}
nav a{
	text-decoration: none;
	color: #FFECC2;
}

a:hover {
	color:#A10C00;
}


	/* Main FAQ Styling */

h1 {
	font-size: 3rem;
	color: #A10C00;
	text-align: center;
	width:50%;
	margin:auto;
	padding-bottom:2%;
	margin-bottom: 2%;
	border-bottom: #F9AE0A dashed 0.2rem;
}
.banner {
	width: 90%;
	margin:5% auto;
	padding:5%;
	text-align:center;
}
.banner p {
	font-size: 1.5rem;
	color: #A10C00;
	padding: 2% 0;
	line-height: 1.5rem;
	
}

	/* Our Services */

h2 {
	font-size: 2rem;
	color: #A10C00;
	text-align: center;
	width:50%;
	margin:auto;
	padding-bottom:2%;
	margin-bottom: 2%;
	border-bottom: #F9AE0A dashed 0.2rem;
}
	/* Styles for each section */
h3 {
	color:#F97D0A;
	font-size: 1.8rem;
	text-align: center;
	margin: 1rem 0;
}

.service {
	background-color: #FFECC2;
	font-size: 1.5rem;
	color: #A10C00;
	line-height: 2rem;
	width:90%;
	margin:5% auto;
	padding:5%; 
}
.service p {
	margin: auto;
}

/* Phone Number */
span {
	color:#F97D0A;
	text-decoration: underline;
}
	/* Footer */
footer {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	margin: 5% 0;
	padding: 0 2%;
	background-color: #F97D0A;
	color:#FFECC2; 
	font-size:1rem;
}

/* Tablet Size */

@media only screen and (min-width: 800px) {
	header {
		flex-direction: column;
		border: none;
	}
	nav {
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		line-height: 3rem;
		font-size: 1.3rem;
	}

	.burger-menu{
		display: none;
	}
	
}

/* Desktop Size */

@media only screen and (min-width: 1024px) {

	.service-style {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

	}
	.service{
		width:45%;
		}
}